# Pandas - Data manipulations

This notebook is the third part of the collection devoted to the pandas library.

In [8]:
# Necesssary import evil

import pandas as pd
import numpy as np
# ? from IPython.display import display, HTML, IFrame

np.random.seed(42)

In the previous notebook, we imported data from several data formats.
Let's start from there and see what basic manipulations we can do
with the DataFrames.

In [28]:
laser_incidents = pd.read_excel("https://www.faa.gov/about/initiatives/lasers/laws/media/Laser_Report_2019_final.xlsx", usecols="A:J")
laser_incidents

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
0,2019-01-01,35,N3EG,C421,2500,SAT,Green,No,San Antonio,Texas
1,2019-01-01,43,RPA3469,E75S,4000,IAH,Green,No,Houston,Texas
2,2019-01-01,44,UAL1607,A319,4000,IAH,Green,No,Houston,Texas
3,2019-01-01,110,N205TM,BE20,2500,HDC,Green,No,Hammond,Louisiana
4,2019-01-01,115,JIA5233,CRJ9,2000,JAX,Green,No,Jacksonville,Florida
...,...,...,...,...,...,...,...,...,...,...
6131,2019-12-31,845,ASH5861,CRJ9,3000,JAN,Green,No,Jackson,Mississippi
6132,2019-12-31,929,N22P,CRUZ,2500,HNL,Green,No,Honolulu,Hawaii
6133,2019-12-31,2310,GTH530,GLF4,500,SJU,White,No,Carolina,Puerto Rico
6134,2019-12-31,2312,AMF6916,SW4,600,SJU,Green,No,Carolina,Puerto Rico
6135,2019-12-31,2327,N715TH,C172,3000,CHO,Green,No,Charlottesville,Virginia

## First look at the data

Let's see what we have in the datasets...

In [10]:
laser_incidents.head()

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,2019-01-01,35,N3EG,C421,2500,SAT,Green,No,San Antonio,Texas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,43,RPA3469,E75S,4000,IAH,Green,No,Houston,Texas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,44,UAL1607,A319,4000,IAH,Green,No,Houston,Texas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,110,N205TM,BE20,2500,HDC,Green,No,Hammond,Louisiana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,115,JIA5233,CRJ9,2000,JAX,Green,No,Jacksonville,Florida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
laser_incidents.tail()

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
6131,2019-12-31,845,ASH5861,CRJ9,3000,JAN,Green,No,Jackson,Mississippi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6132,2019-12-31,929,N22P,CRUZ,2500,HNL,Green,No,Honolulu,Hawaii,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6133,2019-12-31,2310,GTH530,GLF4,500,SJU,White,No,Carolina,Puerto Rico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6134,2019-12-31,2312,AMF6916,SW4,600,SJU,Green,No,Carolina,Puerto Rico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6135,2019-12-31,2327,N715TH,C172,3000,CHO,Green,No,Charlottesville,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For an unknown, potentially unevenly distributed dataset, looking at the beginning / end is typically not the best idea. We'd rather sample randomly:

In [29]:
# Show a few examples
laser_incidents.sample(10)

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
3073,2019-07-13,250,N714ER,C150,3500,CAK,Green,No,Akron,Ohio
724,2019-02-14,555,FDX1287,B757,29000,LIT,Green,No,Little Rock,Arkansas
1829,2019-04-03,525,UAL1075,B737,1700,SNA,Green,No,Santa Ana,California
5056,2019-11-06,2355,EIWFI,CL60,2000,MIA,Green,No,Miami,Florida
3313,2019-08-13,530,AAL1270,B738,24000,SAF,Green,No,Santa Fe,New Mexico
5270,2019-11-17,135,N546CW,P28A,7500,PDT,Green,No,Pendleton,Oregon
2936,2019-07-25,1050,FDX1869,B767,4000,EMT,Green,No,El Monte,California
3796,2019-08-02,515,SWA368,B737/L,14000,SJC,Green,No,San Jose,California
3388,2019-08-31,340,CPZ5846,E75S,14000,PVU,Green,No,Provo,Utah
4122,2019-09-16,235,UCA4985,E45X,11000,GON,Green,No,Groton,Connecticut

`describe` is often useful to get the basics statistics.

In [30]:
laser_incidents.describe(include="all")

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Incident Date,Incident Time,Flight ID,Aircraft,Altitude,Airport,Laser Color,Injury,City,State
count,6136,6136.000000,6135,6134,6136.0,6136,6136,6136,6136,6136
unique,365,NaN,5296,495,188.0,672,28,3,769,58
top,2019-01-05 00:00:00,NaN,N473CA,B737,4000.0,PHX,Green,No,Phoenix,California
freq,37,NaN,8,662,413.0,163,5350,6092,185,1167
first,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2019-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,472.174707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,501.280550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,212.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,340.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,522.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,2359.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice that only some columns, to be procise columns with properly recognized numeric type, are reported.

### Column data types

In [31]:
laser_incidents.dtypes

Incident Date    datetime64[ns]
Incident Time             int64
Flight ID                object
Aircraft                 object
Altitude                 object
Airport                  object
Laser Color              object
Injury                   object
City                     object
State                    object
dtype: object

Let's investigate some of the columns...

To analyze **Laser Color**, we can look at its typical values.

In [14]:
laser_incidents["Laser Color"].describe()

count      6136
unique       28
top       Green
freq       5350
Name: Laser Color, dtype: object

Not too many different values.

In [15]:
laser_incidents["Laser Color"].unique()

array(['Green', 'Blue and Purple', 'Red', 'Blue', 'Green and Red',
       'White', 'Blue and Green', 'Multi', 'Purple', 'Green and White',
       'Yellow and White', 'Blue and White', 'White or Amber', 'Unknown',
       'Red and White', 'Yellow', 'Orange', 'Green and yellow',
       'Red and Green', 'Amber', 'yellow', 'purple', 'white',
       'Yellow and Green', 'Green  ', 'green', 'White and Blue',
       'Red, Blue, and Green'], dtype=object)

In [16]:
laser_incidents["Laser Color"].value_counts(normalize=True)

Green                   0.871904
Blue                    0.081486
White                   0.013364
Red                     0.011571
Unknown                 0.006682
Purple                  0.005215
Green and Red           0.002119
Multi                   0.001304
Blue and Purple         0.000978
Yellow                  0.000815
Red and Green           0.000652
Orange                  0.000652
Blue and Green          0.000489
Blue and White          0.000489
Red and White           0.000163
green                   0.000163
White and Blue          0.000163
yellow                  0.000163
Yellow and White        0.000163
purple                  0.000163
Green and yellow        0.000163
Green                   0.000163
Yellow and Green        0.000163
Red, Blue, and Green    0.000163
Green and White         0.000163
Amber                   0.000163
white                   0.000163
White or Amber          0.000163
Name: Laser Color, dtype: float64

This column is a very good candidate to turn into a pandas-special, **Categorical** data type. (See https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)

In [20]:
laser_incidents["Laser Color"].memory_usage(deep=True)   # ~60 bytes per item

380379

In [18]:
color_category = laser_incidents["Laser Color"].astype("category")
color_category.sample(10)

4290      Green
3206       Blue
5767    Unknown
5097      Green
2684      Green
3256      Green
4851      Green
1032      Green
3830      Green
4471       Blue
Name: Laser Color, dtype: category
Categories (28, object): ['Amber', 'Blue', 'Blue and Green', 'Blue and Purple', ..., 'green', 'purple', 'white', 'yellow']

In [23]:
color_category.memory_usage(deep=True)              # ~1-2 bytes per item

9206

**Exercise:** Remember that assigning or replacing a column inside a dataframe works the same way as setting a value inside a dict.
Please, replace the original "Laser Color" column with the new Categorical series:

Pandas is generally quite good at guessing (inferring) number types. 
You may wonder why `startYear` is float and not int though. 
This is a consequence of not having an integer nan in numpy. There's been many discussions about this.

In [26]:
laser_incidents["Altitude"]

0       2500
1       4000
2       4000
3       2500
4       2000
        ...
6131    3000
6132    2500
6133     500
6134     600
6135    3000
Name: Altitude, Length: 6136, dtype: object

In [ ]:
imdb_titles.startYear.astype(int)

In [ ]:
# To address that, pandas 0.24 Introduced nullable integers
imdb_titles.startYear.astype("Int64").tail(20)

### Filtering

Indexing in pandas Series / DataFrames (`[]`) support also boolean (masked) arrays. These arrays can be obtained by applying boolean operations on them.

You can also use standard **comparison operators** like `<`, `<=`, `==`, `>=`, `>`, `!=`. 

It is possible to perform **logical operators** with boolean series too. But note that `and`, `or`, `not` are keywords. You 

As an example, find all movies!

In [ ]:
is_movie = (imdb_titles.titleType == "movie")
is_movie.sample(10)

Now we can directly apply the boolean mask. (Note: This is no magic. You can construct the mask yourself)

In [ ]:
imdb_titles[is_movie].sample(10)

Or maybe we should include TV movies as well?

In [ ]:
# isin takes an array of possible values
movie_titles = imdb_titles[imdb_titles.titleType.isin(["movie", "tvMovie"])]
movie_titles.sample(10)

We may wonder why we have two title-ish columns: originalTitle and primaryTitle.

In [ ]:
different_title = (movie_titles.originalTitle != movie_titles.primaryTitle)
different_title.name = "Different title"   # Series can have names (Note: DataFrames can't)
different_title.value_counts()

### Visualization intermezzo

Without much further ado, let's create our first plot.

In [ ]:
different_title.value_counts().plot(kind="bar")

We may also want to get rid of wrong / incomplete data.

In [ ]:
# Movies from the future?
imdb_titles[imdb_titles.startYear > 2019].startYear.value_counts()

In [ ]:
# Movies with startYear undefined
imdb_titles[imdb_titles.startYear.isna()].head()

**Exercise:** Use the `imdb_titles.startYear > 2019` filter and `dropna` method to get rid of rows with wrong / undefined years.

In [ ]:
%exercise

imdb_correct_titles = imdb_titles[___].dropna(subset=___)

In [ ]:
%validate

assert not (imdb_correct_titles.startYear > 2019).any()
assert not imdb_correct_titles.startYear.isna().any()
assert imdb_correct_titles.shape == (1694587, 9)

**Exercise:** Drop `titleType` and `endYear` columns and rows with `NaN` values (use `dropna`).

In [ ]:
%exercise

movie_titles = (movie_titles
                .drop(columns=___)
                .___
                )

In [ ]:
%validate

assert not any(result.isna().any())
assert sorted(result.columns) == ['genres', 'isAdult', 'originalTitle',  'primaryTitle', 
                                        'runtimeMinutes', 'startYear', 'tconst']

## Sorting

In [ ]:
# Display 5 longest movies 
movie_titles.sort_values("runtimeMinutes", ascending=False).head()

Hmm, let's look at *Modern Times Forever* - an apt title :)

In [ ]:
IFrame(
    src="https://en.wikipedia.org/wiki/Modern_Times_Forever_(Stora_Enso_Building,_Helsinki)",
    width=900,
    height=400,
)

In [ ]:
# Alternative
movie_titles.nlargest(5, "runtimeMinutes")

**Exercise:** Find the 10 oldest movies that are longer than 2 hours

In [ ]:
%exercise

result = movie_titles[___].___(___, ___)
result

In [ ]:
%validate

assert result.iloc[9]["startYear"] == 1914

In [ ]:
movie_titles[(movie_titles["primaryTitle"].str.startswith("Indiana Jones")) & (movie_titles["titleType"] == "movie")]

## Arithmetics and string manipulation

Standard **arithmetic operators** work on numerical columms too. And so do mathematical functions. Note all such operations are performed in a vector-like fashion.

In [ ]:
movie_titles[["originalTitle", "startYear"]].assign(age = 2019 - movie_titles["startYear"]).sample(20)

**Exercise:** Calculate the length of movies in hours.

In [ ]:
%exercise

result = movie_titles[["originalTitle", "runtimeMinutes"]].assign(... = ...)
result.sample(10)

In [ ]:
%validate

assert result.iloc[0]["hours"] == 0.75

In [ ]:
# If only the following had any sense!
np.sin(movie_titles["runtimeMinutes"]).sample(10)

### Summary statistics

Note that the following methods return scalars

In [ ]:
# Average length of the movies
movie_titles["runtimeMinutes"].mean()

In [ ]:
# Standard deviation
movie_titles["runtimeMinutes"].std()

In [ ]:
movie_titles["startYear"].max()

**Exercise:** How many years would it take to watch all movies in the catalogue?

In [ ]:
%exercise
result = movie_titles["runtimeMinutes"] ...
result

In [ ]:
%validate

assert np.round(result, 3) == 65.154

### Basic string operations

These are typically accessed using the `.str` "accessor" of the Series like this:
    
- series.str.lower
- series.str.split
- series.str.startswith
- series.str.contains
- ...

In [ ]:
movie_titles[(movie_titles["primaryTitle"].str.startswith("Star Wars: Episode")) & (movie_titles["titleType"] == "movie")]

**Exercise:** Find all Pink Panther movies. Note that their title does not necessarily start with "Pink"

In [ ]:
%exercise

is_pink = ...
pink = movie_titles[is_pink]
pink

In [ ]:
%validate

assert pink.shape[0] == 14

In [ ]:
# String arithmetics work too!
url = "https://www.imdb.com/title/" + movie_titles["tconst"]
movie_titles[["primaryTitle"]].assign(url=url).sample(10)

Let's investigate the genres a bit:

In [ ]:
split_genres = movie_titles.genres.str.split(",").dropna()
split_genres.sample(10)

In [ ]:
genres = {genre for row in split_genres.iteritems() for genre in row[1]}

In [ ]:
genres

In [ ]:
# "One-hot" encoding of genres
movie_with_genres = movie_titles[['primaryTitle']].assign(
    **{genre : movie_titles.genres.str.contains(genre) * 1 for genre in genres}
)
movie_with_genres.sample(10)

In [ ]:
genre_counts = movie_with_genres[movie_with_genres == 1].iloc[:,1:].count()
genre_counts

In [ ]:
genre_counts.plot(kind="bar")

In [ ]:
movie_titles["startYear"].plot(kind="hist")

We see the one outlier and in general, the plots are not so nice. Being explicit sometimes helps.

In [ ]:
ax = movie_titles["startYear"].plot(kind="hist", bins=23, range=(1890, 2020))

No movies before 1900 / 1910? Really? Let's check:

In [ ]:
ax = movie_titles["startYear"].plot(kind="hist", bins=23, range=(1890, 2020))
ax.set_yscale("log")

**Exercise:** Plot a histogram of runtime minutes (limiting to a reasonable range).

In [ ]:
%exercise

movie_titles[___].plot(___)

In [ ]:
# Note: this is something that could be mor easily done with .groupby operation
average_genre_length = (movie_with_genres.iloc[:,1:].apply(lambda s: s * movie_titles["runtimeMinutes"])).sum() / genre_counts

In [ ]:
average_genre_length

**Exercise:** Sort the genres from the longest to shortest and visualize them using a bar plot.

In [ ]:
%exercise

___.___.plot(___)

**Exercise**: Find proper filters for the Lord of the Rings trilogy. Note that you will probably need to combine more conditions (multiple solutions possible).

In [ ]:
%exercise

is_lotr = ...
is_real_lotr = is_lotr & 

movie_titles[is_real_lotr]

**Exercise**: What is longer? The Lord of the Rings trilogy or The Hobbit "trilogy"?

Use the previous as a base to find the Hobbit movies. Then calculate the total length of each trio.

In [ ]:
%exercise

is_hobbit = ...
is_real_hobbit = ...

hobbit_length = ...
lotr_length = ...

print(f"The Hobbit length: {hobbit_length}, The Lord of the Rings length: {lotr_length}")

pd.concat([movie_titles[is_real_lotr], movie_titles[is_real_hobbit]]).sort_values("startYear")

In [ ]:
%validate

assert hobbit_length % 100 == 74
assert lotr_length // 100 == 5

**Exercise:** Find the movie with the (primary) longest title.

Hint: `idxmax()` method on the Series returns the index of the item with the maximum value. You can't (at least should) not use the maximum value itself.

In [ ]:
%exercise

longest_title_movie = ...

print(longest_title_movie["primaryTitle"])

longest_title_movie

In [ ]:
%validate

assert longest_title_movie["primaryTitle"][2] == "s"